* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
}

section {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.slider {
  height: 100%;
  width: 100%;
}

.slide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateX(100%);
}

.slide.top {
  transition: transform 0.5s ease;
  z-index: 3;
}

.slide.active {
  transform: translateX(0);
  z-index: 3;
}

.slide::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.312);
  z-index: -1;
}

.slide-1 {
  background: url(/image/0.jpg) no-repeat center/cover;
}
.slide-2 {
  background: url(/image/1.jpg) no-repeat center/cover;
}
.slide-3 {
  background: url(/image/2.jpg) no-repeat center/cover;
}
.slide-4 {
  background: url(/image/3.jpg) no-repeat center/cover;
}

/* buttons Style */
.buttons {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  font-size: 50px;
  color: black;
}

.buttons div {
  cursor: pointer;
  pointer-events: all;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.315);
}

.buttons div:hover {
  background-color: #fff;
}

/* dots style */
.dots {
  z-index: 5;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(252, 252, 252, 0.692);
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: width 0.3s ease;
}

.dots .dot.active {
  background-color: #fff;
  width: 40px;
}

@media screen and (max-width: 768px) {
  .dots {
    left: 0;
    transform: translateX(0);
  }
}
